* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, sans-serif;
  background: no-repeat center/cover url("./assets/images/bg-desktop.svg")
    hsl(257, 40%, 49%);
}
@media (max-width: 640px) {
  body {
    background: no-repeat center/cover url("./assets/images/bg-mobile.svg")
      hsl(257, 40%, 49%);
  }
}
